.header__Navbar{
    background-color: rgb(241, 241, 241);
    height: 100px;
    margin-top:0rem;
}

.header__nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size:1.3rem;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
}
.nav-link{
    color:brown;
}
